In [91]:

#QUESTION1 

ages =[19,22,19,24,20,25,26,24,25,24]

#sort the list and find the min and max age
s=sorted(ages)
print ("sorted list is",s)
a=min(ages)
b=max(ages)
print("minimum age is",a)
print("maximum age is",b)

sorted list is [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
minimum age is 19
maximum age is 26

In [92]:
#add the min age and the max age again to the list
s.append(a)
s.append(b)
print(s)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [93]:
#find the median age(one middle item or two middle items divided by two)
l=len(s);
m=int((l+1)/2);
print (m)
print("median  age is",ages[m-1])

6
median  age is 25

In [94]:
#Find the average age (sum of all items divided by their number)
avg=sum(s)/l
print("average age is",avg)

average age is 22.75

In [95]:
#find the range of the ages
range=b-a
print("range of ages is",range)

range of ages is 7

In [96]:
#QUESTION 2

#create an empty dictionary called dog

dog={}
print(dog)

{}

In [97]:
#add name,color,breed,legs,age to the dog dictionary
dog.update({'name':'Bruno','color':'Black','Breed':'Retreiver','legs':'4','age':'7'})
print(dog)

{'name': 'Bruno', 'color': 'Black', 'Breed': 'Retreiver', 'legs': '4', 'age': '7'}

In [98]:
#create a student dictionary and add first_name , last_name, gender ,age, marital status,skills,counrty,city and addredd as keys for the dictionary
student={}
student={'first_name':'Pujitha','last_name':'Pudota','gender':'F','age':'21','marital status':'unmarried','skills':['Java','HTML','DBMS'],'country':'USA','city': 'Centerton', 'address' : 'PiperLn'}
print(student)

{'first_name': 'Pujitha', 'last_name': 'Pudota', 'gender': 'F', 'age': '21', 'marital status': 'unmarried', 'skills': ['Java', 'HTML', 'DBMS'], 'country': 'USA', 'city': 'Centerton', 'address': 'PiperLn'}

In [99]:
#get the length of student dictionary
print(len(student))

9

In [100]:
#get the value of skills and check the data type,it should be a list
student={'first_name':'Pujitha', 'last_name' : 'Pudota','gender':'F','age': '21','marital status':'unmarried','skills':['Java','HTML','DBMS'],'country':'USA','city':'Centerton','address':'PiperLn'}
s=list(student)
print(student.get('skills'),type(s))

['Java', 'HTML', 'DBMS'] <class 'list'>

In [101]:
#modify the skills values by adding 1 or 2 strings
student={'first_name':'Pujitha','last_name':'Pudota','gender':'F','age':'21','marital status':'unmarried','skills':['Java','HTML','DBMS'],'country':'USA','city':'Centerton','address':'PiperLn'}
student['skills'].append('C++')
print(student)

{'first_name': 'Pujitha', 'last_name': 'Pudota', 'gender': 'F', 'age': '21', 'marital status': 'unmarried', 'skills': ['Java', 'HTML', 'DBMS', 'C++'], 'country': 'USA', 'city': 'Centerton', 'address': 'PiperLn'}

In [102]:
#get the dictionary keys as a list
keys=student.keys()
print(keys)

dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address'])

In [103]:
#get the dictionary values as a list
values=student.values()
print(values)

dict_values(['Pujitha', 'Pudota', 'F', '21', 'unmarried', ['Java', 'HTML', 'DBMS', 'C++'], 'USA', 'Centerton', 'PiperLn'])

In [104]:
#QUESTION 3

sisters = ("Anna", "Bella")
brothers = ("John", "Mike")

siblings = sisters + brothers
print("Siblings:", siblings)

num_siblings = len(siblings)
print("Number of siblings:", num_siblings)

father = "James"
mother = "Mary"
family_members = siblings + (father, mother)
print("Family members:", family_members)

Siblings: ('Anna', 'Bella', 'John', 'Mike')
Number of siblings: 4
Family members: ('Anna', 'Bella', 'John', 'Mike', 'James', 'Mary')

In [105]:
#QUESTION 4


it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]


it_companies_length = len(it_companies)
print("Length of it_companies:", it_companies_length)


it_companies.add('Twitter')
print("it_companies after adding 'Twitter':", it_companies)


it_companies.update({'Tesla', 'Netflix', 'Adobe'})
print("it_companies after adding multiple companies:", it_companies)


it_companies.remove('Oracle')
print("it_companies after removing 'Oracle':", it_companies)


A_union_B = A.union(B)
print("A union B:", A_union_B)

A_intersection_B = A.intersection(B)
print("A intersection B:", A_intersection_B)


is_A_subset_B = A.issubset(B)
print("Is A subset of B:", is_A_subset_B)


are_A_B_disjoint = A.isdisjoint(B)
print("Are A and B disjoint:", are_A_B_disjoint)


A_join_B = A.union(B)
B_join_A = B.union(A)
print("A joined with B:", A_join_B)
print("B joined with A:", B_join_A)


A_symmetric_difference_B = A.symmetric_difference(B)
print("Symmetric difference between A and B:", A_symmetric_difference_B)


del A
del B
print("A and B sets deleted.")


age_set = set(age)
print("Length of age list:", len(age))
print("Length of age set:", len(age_set))

Length of it_companies: 7
it_companies after adding 'Twitter': {'Twitter', 'Google', 'Facebook', 'IBM', 'Apple', 'Microsoft', 'Amazon', 'Oracle'}
it_companies after adding multiple companies: {'Oracle', 'Facebook', 'Adobe', 'IBM', 'Amazon', 'Netflix', 'Twitter', 'Google', 'Microsoft', 'Tesla', 'Apple'}
it_companies after removing 'Oracle': {'Facebook', 'Adobe', 'IBM', 'Amazon', 'Netflix', 'Twitter', 'Google', 'Microsoft', 'Tesla', 'Apple'}
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B: {19, 20, 22, 24, 25, 26}
Is A subset of B: True
Are A and B disjoint: False
A joined with B: {19, 20, 22, 24, 25, 26, 27, 28}
B joined with A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B: {27, 28}
A and B sets deleted.
Length of age list: 8
Length of age set: 5

In [106]:
#QUESTION 5

import math

radius = 30

_area_of_circle_ = math.pi * radius ** 2
print("Area of the circle:", _area_of_circle_)

_circum_of_circle_ = 2 * math.pi * radius
print("Circumference of the circle:", _circum_of_circle_)

user_radius = float(input("Enter the radius of the circle: "))
user_area_of_circle = math.pi * user_radius ** 2
print("Area of the circle with radius", user_radius, ":", user_area_of_circle)

Area of the circle: 2827.4333882308138
Circumference of the circle: 188.49555921538757
Area of the circle with radius 30.0 : 2827.4333882308138

In [107]:
#QUESTION 6

# How many unique words have been used in the sentence? Use the split methods and set to get the unique words
str="I am a teacher and I love to inspire and teach people"
words = set(str.split(" "))
print(len(words))
print(words)

10
{'teacher', 'to', 'people', 'a', 'and', 'am', 'inspire', 'I', 'love', 'teach'}

In [108]:
#QUESTION 7

# Use a tab escape sequence to get the following lines
# Name   Age   Country  City
# Asabench   250   Finland  Helsinki
text="Name\tAge\tCountry\tCity\nAsabench\t250\tFinland\tHelsinki"
print(text)

Name	Age	Country	City
Asabench	250	Finland	Helsinki

In [109]:
#QUESTION 8

# Use the string formatting method to display the following
# "The area of a circle with radius 10 is 314 meters square"

radius = 10
area = 3.14*radius**2
string="\"The area of a circle with radius {} is {} meters square\""
print(string.format(radius,area))

"The area of a circle with radius 10 is 314.0 meters square"

In [2]:
#QUESTION 9

# Write a program which reads weight (lbs.) of N students into a list and convert these weights to kilograms in a separate list using Loop N: No of students (Read input from user)

N = int(input("Enter the number of students: "))

weights_lbs = []

for i in range(N):
    weight_lbs = float(input(f"Enter the weight of student {i+1} in pounds: "))
    weights_lbs.append(weight_lbs)

weights_kg = []
for weight_lbs in weights_lbs:
    weight_kg = weight_lbs * 0.45359237
    weights_kg.append(round(weight_kg, 2))

print("Weights in kilograms:", weights_kg)

Weights in kilograms: [27.22, 29.48, 31.75, 34.02, 36.29, 38.56]